
@{
    ViewBag.Title = "Kurumsal";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/page.css" />
}
<div class="container-fluid animate pagewrapper">
    <!--section-->
    <div class="container-fluid section PageHeader aboutus">
        <div class="container-fluid container">
            <div class="row center-xs middle-xs">
                <div class="col-xs-10">
                    <h1>Kurumsal</h1>
                    <p class="breadcrumbs">
                        <a href="@Url.Action("Index","Home")">ANA SAYFA</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Kurumsal","Home")">KURUMSAL</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/section-->
    <!--section-->
    <div class="container-fluid section">
        <div class="container-fluid container">
            <div class="row center-xs">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="pageText">
                        <p>Kara Kıta, uzun yıllar insani yardım, acil yardım ve eğitim alanlarında gönüllü ve profesyonel manada yönetim ve saha faaliyetleri organize eden ve uygulayan tecrübe sahibi bir ekibin ortak girişimi ile 2019'da İstanbul'da kurulmuş bir <b>Uluslararası Organizasyon</b> Kuruluşudur.</p>
                        <p>Kara Kıta ekibi, saha deneyimini ve birikimini profesyonel şekilde, zaman takvimine, faydalanıcı sayısına ve proje kapmasına sadık kalarak öngörülen zaman, yer ve tarihte gerçekleştirmeyi ilke edinmiş bir ekiptir. Esnek, genç ve dinç yapısı, süratle aksiyon alabilme kabiliyeti ve sağlıklı fizibilite çalışmasına dayanan planlama kültürü ile partner kuruluşlar adına Afrika'da saha faaliyetleri gerçekleştirmektedir.</p>
                        <p>Saha faaliyetlerimiz; sözleşme, evrak ve görsellere dayalı bir akit çerçevesinde planlanmakta ve gerçekleşmektedir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/section-->
</div>

