
@{
    ViewBag.Title = "Kurumsal";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/page.css" />
}
<div class="container-fluid animate pagewrapper">
    <!--section-->
    <div class="container-fluid section PageHeader aboutus">
        <div class="container-fluid container">
            <div class="row center-xs middle-xs">
                <div class="col-xs-10">
                    <h1>Referanslarımız</h1>
                    <p class="breadcrumbs">
                        <a href="@Url.Action("Index","Home")">ANA SAYFA</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Referanslar","Home")">REFERANSLARIMIZ</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/section-->
    <!--section-->
    <div class="container-fluid section">
        <div class="container-fluid container">
            <div class="row center-xs">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="pageText">
                        <p>Tasarım Aşamasında. En kısa zamanda tekrar ziyaret ediniz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/section-->
</div>

